.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
!out/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.*.yml
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/LICENSE
node_modules/**/CHANGELOG*
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
examples/**
test-*.js
test-*.jsx
test-*.ts
test-*.tsx
*.vsix
.DS_Store
.github/**
